@model bscitgroup.Models.Persona

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profesion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Institucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Institucion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Intereses)
        </dt>
        <dd>
            <table class="table">

                @foreach (var item in Model.Intereses)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaServicioDetalles)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Nombre del serivicio</th>
                    <th>Tipo del serivicio</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Hora de inicio</th>
                    <th>Hora de fin</th>
                    <th>¿Participó?</th>

                </tr>
                @foreach (var item in Model.PersonaServicioDetalles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicioDetalle.Servicio.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicioDetalle.Servicio.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicioDetalle.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicioDetalle.FechaFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicioDetalle.HoraInico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicioDetalle.HoraFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Participacion)
                    </td>
                </tr>
        }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DNI">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
